.theorem {
  margin: 1rem 0;
  padding: 0.1rem 1.5rem;
  border-radius: 0.4rem;
  background-color: #f0f4f8;
  .title {
    font-weight: bold;
  }
}

.dark {
  .theorem {
    background-color: #373838;
    color: var(--vp-c-text-1);
  }
}
