:root {
  --vp-c-divider-light-1: rgba(60, 60, 60, .29);
  --vp-c-divider-light-2: rgba(60, 60, 60, .12);
  --vp-c-divider-dark-1: rgba(84, 84, 84, .65);
  --vp-c-divider-dark-2: rgba(84, 84, 84, .48);
  --vp-c-divider: var(--vp-c-divider-light-1);
  --vp-c-divider-light: var(--vp-c-divider-light-2);
  --vp-c-divider-inverse: var(--vp-c-divider-dark-1);
  --vp-c-divider-inverse-light: var(--vp-c-divider-dark-2);
}

.VPNavBarSearch {
  display: flex;
  align-items: center;
}

.dark {
  .DocSearch {
    --docsearch-modal-shadow: none;
    --docsearch-footer-shadow: none;
    --docsearch-logo-color: var(--vp-c-text-2);
    --docsearch-hit-background: var(--vp-c-bg-mute);
    --docsearch-hit-color: var(--vp-c-text-2);
    --docsearch-hit-shadow: none;
  }

  --vp-c-divider: var(--vp-c-divider-dark-1);
  --vp-c-divider-light: var(--vp-c-divider-dark-2);
  --vp-c-divider-inverse: var(--vp-c-divider-light-1);
  --vp-c-divider-inverse-light: var(--vp-c-divider-light-2);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand);
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-text-color: var(--vp-c-text-1);
  --docsearch-muted-color: var(--vp-c-text-2);
  --docsearch-searchbox-shadow: none;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-key-gradient: transparent;
  --docsearch-key-shadow: none;
  --docsearch-modal-background: var(--vp-c-bg-soft);
  --docsearch-footer-background: var(--vp-c-bg);
}

.DocSearch-Button:active,
.DocSearch-Button:focus,
.DocSearch-Button:hover {
  background: var(--docsearch-searchbox-focus-background);
  box-shadow: var(--docsearch-searchbox-shadow);
  color: var(--docsearch-text-color);
  outline: none;
}

.DocSearch-Button-Key {
  align-items: center;
  background: var(--docsearch-key-gradient);
  border-radius: 3px;
  box-shadow: var(--docsearch-key-shadow);
  color: var(--docsearch-muted-color);
  display: none;
  display: flex;
  height: 18px;
  justify-content: center;
  margin-right: 0.4em;
  position: relative;
  padding: 0 0 2px;
  padding-left: 0px;
  border: 0;
  top: -1px;
  width: 20px;
}

.DocSearch-Button {
  --vt-c-divider: var(--vp-c-divider);

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 55px;
  background: transparent;
  transition: border-color 0.25s;
  .DocSearch-Button-Keys {
    display: none;
  }
  .DocSearch-Button-Key {
    display: block;
    margin: 2px 0 0;
    border: 1px solid var(--vp-c-divider);
    border-right: none;
    border-radius: 4px 0 0 4px;
    padding-left: 6px;
    min-width: 0;
    width: auto;
    height: 22px;
    line-height: 22px;
    font-family: var(--vp-font-family-base);
    font-size: 12px;
    font-weight: 500;
    transition: color 0.5s, border-color 0.5s;
  }

  .DocSearch-Button-Key:first-child {
    font-size: 1px;
    letter-spacing: -12px;
    color: transparent;
  }

  .DocSearch-Button-Key:first-child::after {
    content: 'Ctrl';
    font-size: 12px;
    letter-spacing: normal;
    color: var(--docsearch-muted-color);
  }
}

@media (min-width: 768px) {
  .VPNavBarSearch {
    flex-grow: 1;
    padding-left: 24px;
  }

  .DocSearch-Button {
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px 0 12px;
    width: 100%;
    height: 40px;
    background-color: var(--vp-c-bg-alt);
    .DocSearch-Button-Keys {
      display: flex;
    }
  }

  .DocSearch-Button:hover {
    border-color: var(--vp-c-brand);
    background: var(--vp-c-bg-alt);
  }


}

@media (min-width: 960px) {
  .VPNavBarSearch {
    padding-left: 32px;
  }
}
